html {
    min-height: 100vh;
    background: rgb(247, 247, 247);
}

.l-container-1080 {
    max-width: 1080px;
    margin: 0 auto;
}

body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    line-height: 1.7em;
    padding: 1em;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.76);
}
