<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Privacy Policy</title>
        <link rel="stylesheet" href="./css/bundle.css" />
    </head>
    <body>
        <div class="l-container-1080">
            <h1>Memory Press Support</h1>
            <p>
                Please email me at jesse.l.zonneveld@gmail.com for any questions
                or concerns regarding Memory Press. The privacy policy and terms
                and conditions links are provided below.
            </p>
            <ul>
                <li>
                    <a href="./privacy-policy.html">Privacy Policy</a>
                </li>
                <li>
                    <a href="./terms-and-conditions.html"
                        >Terms and Conditions</a
                    >
                </li>
            </ul>
        </div>
    </body>
</html>
